.content-wrapper {
  font-family: "Cairo", sans-serif;
  padding-bottom: 50px;
  background: $backgroundColor; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    $backgroundBtnColor,
    $backgroundColor
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    $backgroundBtnColor,
    $backgroundColor
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

body {
  font-family: "Mulish", sans-serif;
  // font-family: 'Cairo', sans-serif;
}
