.home-container {
  width: 100%;
}
.home-wrapper {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 100vh;
  .background-img {
    &:after {
      height: 100vh;
      width: 100%;
      content: "";
      top: 0px;
      left: 0px;
      position: absolute;
      z-index: -2;
      background: url("../images/bg-img.jpg") no-repeat;
      background-size: cover;
      opacity: 0.5;
    }
  }
  .background-img-overlay {
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    background: -webkit-linear-gradient(
      to top,
      rgba(253, 253, 253, 1),
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.1)
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to top,
      rgba(253, 253, 253, 1),
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.1)
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    // background-color: rgb(221, 220, 255);
    background-size: cover;
    opacity: 1;
  }
  .home-greeting {
    font-size: 20px;
    color: $primaryColor;
  }
  .home-name {
    font-size: 90px;
    font-weight: 600;
    margin: 15px;
    color: $primaryColor;
    // font: 700 4em/1 "Oswald", sans-serif;
    letter-spacing: 0;
    padding: 0.25em 0 0.325em;
    display: block;
    margin: 0 auto;
    text-shadow: 0 0 80px rgba(255, 255, 255, 0.5);
    /* Clip Background Image */
    // background: url(https://media.giphy.com/media/OK5LK5zLFfdm/giphy.gif)
    // background: url(https://media.giphy.com/media/Quyiqd41UdRSiaRe55/giphy.gif)
    background: url(https://media.giphy.com/media/KZFrf9JusXzmpnPsT6/giphy.gif)
      repeat-y;
    background-size: cover;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .home-title {
    font-size: 20px;
    margin: 15px;
    color: $primaryColor;
    font-family: "Lato", sans-serif;
  }
  .icon-linkedin,
  .icon-github,
  .icon-at,
  .icon-id-card {
    margin-right: 16px;
    color: $primaryColor;
  }
}
