.content-wrapper {
  font-family: "Cairo", sans-serif;
  padding-bottom: 50px;
  background: #FDFDFD;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #ffffff, #FDFDFD);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #ffffff, #FDFDFD);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

.section-container {
  width: 100%;
  margin-bottom: 30px; }

body {
  font-family: "Mulish", sans-serif; }

.home-container {
  width: 100%; }

.home-wrapper {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 100vh; }
  .home-wrapper .background-img:after {
    height: 100vh;
    width: 100%;
    content: "";
    top: 0px;
    left: 0px;
    position: absolute;
    z-index: -2;
    background: url("../images/bg-img.jpg") no-repeat;
    background-size: cover;
    opacity: 0.5; }
  .home-wrapper .background-img-overlay {
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    background: -webkit-linear-gradient(to top, #fdfdfd, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #fdfdfd, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    opacity: 1; }
  .home-wrapper .home-greeting {
    font-size: 20px;
    color: #07031a; }
  .home-wrapper .home-name {
    font-family: 'B612', sans-serif;
    font-size: 90px;
    font-weight: 500;
    margin: 15px;
    color: #07031a;
    letter-spacing: 0;
    padding: 0.25em 0 0.325em;
    display: block;
    margin: 0 auto;
    text-shadow: 0 0 80px rgba(255, 255, 255, 0.5);
    /* Clip Background Image */
    background: url(https://media.giphy.com/media/KZFrf9JusXzmpnPsT6/giphy.gif) repeat-y;
    background-size: cover;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent; }
  .home-wrapper .home-title {
    font-size: 20px;
    margin: 15px;
    color: #07031a;
    font-family: "Lato", sans-serif; }
  .home-wrapper .icon-linkedin,
  .home-wrapper .icon-github,
  .home-wrapper .icon-at,
  .home-wrapper .icon-id-card {
    margin-right: 16px;
    color: #07031a; }

.nav-container {
  position: absolute;
  z-index: 10;
  width: 100%; }
  .nav-container .nav-link-home,
  .nav-container .nav-link-projects,
  .nav-container .nav-link-skills,
  .nav-container .nav-link-contacts,
  .nav-container .nav-link-white {
    color: #07031a;
    color: white;
    font-weight: 800;
    font-size: 20px;
    margin-right: 20px;
    text-shadow: #353535 5px 5px 10px;
    cursor: pointer;
    transition: 200ms; }
    .nav-container .nav-link-home:hover,
    .nav-container .nav-link-projects:hover,
    .nav-container .nav-link-skills:hover,
    .nav-container .nav-link-contacts:hover,
    .nav-container .nav-link-white:hover {
      color: #d8d8d8; }

.projects-container {
  width: 100%;
  text-align: center;
  margin-bottom: 30px; }
  .projects-container .single-project-wrapper {
    border-radius: 10px;
    background: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(104, 200, 255, 0.1), rgba(104, 200, 255, 0.2), rgba(104, 200, 255, 0.15), rgba(255, 255, 255, 0));
    margin: 0 auto 50px auto;
    padding: 10px 20px 50px 20px;
    width: 100%; }
    .projects-container .single-project-wrapper .single-project-header {
      margin: 20px 0 35px 0;
      color: #07031a; }
    .projects-container .single-project-wrapper .single-project-image {
      border-radius: 20px;
      width: 100%; }
    .projects-container .single-project-wrapper .view-project-btn {
      border: 2px solid #07031a;
      background-color: Transparent;
      padding: 6px 20px;
      font-size: 15px;
      color: #07031a;
      margin-top: 20px;
      width: 200px; }
    .projects-container .single-project-wrapper .view-code-btn {
      display: inline-block;
      border: 2px solid #07031a;
      background-color: Transparent;
      padding: 6px 20px;
      font-size: 15px;
      color: #07031a;
      margin-top: 20px;
      width: 200px;
      font-family: "Lato", sans-serif; }
    .projects-container .single-project-wrapper .single-project-description-header {
      width: 600px;
      text-align: start;
      margin-bottom: 20px;
      font-family: "Lato", sans-serif; }
    .projects-container .single-project-wrapper .single-project-description-content {
      width: 400px;
      text-align: justify;
      padding: 5px 0;
      font-family: "Lato", sans-serif; }
  .projects-container .awesome-slider-projects {
    --slider-height-percentage: 63%;
    --slider-transition-duration: 300ms;
    --organic-arrow-thickness: 3px;
    --organic-arrow-border-radius: 30px;
    --organic-arrow-height: 20px;
    --control-button-opacity: 0.3;
    --organic-arrow-color: #26456f;
    --control-button-width: 10%;
    --control-button-height: 25%;
    --control-button-background: transparent;
    --control-bullet-color: #2d5182;
    --control-bullet-active-color: #26456f;
    --loader-bar-color: #62b3ff;
    --loader-bar-height: 5px; }
  .projects-container .btn-project {
    flex: 1 1 auto;
    margin: 30px 0px;
    padding: 10px 30px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-width: 0;
    width: 100%;
    /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    background-image: linear-gradient(to right, #a1c4fd 0%, #c2e9fb 51%, #a1c4fd 100%); }
    .projects-container .btn-project:hover {
      background-position: right center; }

.projects-heading-wrapper {
  padding: 20px 0 50px 0;
  text-align: center; }
  .projects-heading-wrapper .projects-caption {
    font-size: 18px;
    color: #07031a;
    margin-bottom: 10px; }
  .projects-heading-wrapper .projects-header {
    font-size: 50px;
    font-family: 'Cairo', sans-serif;
    font-weight: 700;
    color: #07031a;
    text-shadow: 0 0 80px rgba(255, 255, 255, 0.5);
    /* Clip Background Image */
    background: url(https://media.giphy.com/media/Quyiqd41UdRSiaRe55/giphy.gif) repeat-y;
    background-size: cover;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent; }
  .projects-heading-wrapper .projects-dash {
    background-color: #07031a;
    width: 96px;
    margin-top: 10px;
    border: 2px solid #fbfd8a; }

.skills-section {
  margin: 0 60px; }
  .skills-section .skill-header {
    margin: 30px 0 0 0; }
    .skills-section .skill-header h3 {
      color: #3881ac; }
  .skills-section .skills-content {
    font-size: 18px; }
    .skills-section .skills-content p {
      padding-top: 8px; }
